VITE_APPWRITE_URL = "https://sgp.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID = "6a5a55f1003e24f63b48"
VITE_APPWRITE_DATABASE_ID = "6a5a5723003912102e99"
VITE_APPWRITE_COLLECTION_ID = "articles"
VITE_APPWRITE_BUCKET_ID = "6a5a5b7c000ecb801c81"